<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top " scroll-header-add-class="5" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <div class="col-sm-offset-2 col-sm-8">
			  <button type="submit" ng-click="signinPress()" class="btn btn-landing">Sign In</button>
			</div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="intro">
<div class="intro-body">
<div class="container">
<div class="row">

<div class="col-md-8 col-md-offset-2">
	<h1 class="brand-heading"><span class="website-title-texting">Texting</span> Journal</h1>
	<form class="form-horizontal">
	  <div class="form-group">
		
		<div class="col-sm-offset-3 col-sm-6">
		  <input ng-model="user.phone" phone-input class="form-control input-lg" placeholder="Phone Number">
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
		  <button type="submit" ng-click="start()" class="btn btn-landing">Start</button>
		</div>
	  </div>
	</form>
	<a href="#about" class="btn btn-circle page-scroll">
		<i class="fa fa-chevron-down animated"></i>
	</a>
</div>
	
</div>

    </div>
	
	
	</div>
</div>


<div class="content-section">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-header-dark">How it works</h2>
			<hr class="star-primary"></hr>
		</div>
		
		
	</div>
	<div class="row">
			<div class="col-lg-12 text-center">
			<img src="app/assets/img/phone.png"></src>
			</div>
			<div class="textBubble1-placement">
				<div class="bubble-panel fade-wait"  ani-scroll="800">
					<div class="bubble-img"><img src="app/assets/img/textbubbleSwitch.png"></img></div>
					<div class="bubble-text">?</div>
				</div>
				<!--<text-bubble should-show="" source='"app/assets/img/textbubbleSwitch.png"' extra="'bubble-first'" text="'?'"></text-bubble>-->
			</div>
			<div class="textBubble2-placement">
				<div class="bubble-panel fade-wait"  ani-scroll-delay="800" ani-scroll-delay-time="1000">
					<div class="bubble-img"><img src="app/assets/img/textBubble.png"></img></div>
					<div class="bubble-text">...</div>
				</div>
				<!--<text-bubble should-show="bubbleText2" source="'app/assets/img/textBubble.png'" text="''"></text-bubble>-->
			</div>
			<div class="bar-1 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="2000">
				<img src="app/assets/img/bar.png"></src>
			</div>
			<div class="bar-2 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="2200">
				<img src="app/assets/img/bar.png"></src>
			</div>
			<div class="barv-1 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="2400">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-2 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="2600">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-3 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="2800">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-4 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="3000">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-5 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="3200">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-6 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="3400">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-7 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="3600">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-8 fade-bar" ani-scroll-delay="1000" ani-scroll-delay-time="3800">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			<div class="barv-9 fade-bar" ani-scroll-delay="1300" ani-scroll-delay-time="0">
				<img src="app/assets/img/bar-v.png"></src>
			</div>
			
			<div class="bar-3 fade-bar" ani-scroll-delay="1300" ani-scroll-delay-time="200">
				<img src="app/assets/img/bar.png"></src>
			</div>
			<div class="bar-4 fade-bar" ani-scroll-delay="1300" ani-scroll-delay-time="400">
				<img src="app/assets/img/bar.png"></src>
			</div>
			<div class="bar-5 fade-bar" ani-scroll-delay="1300" ani-scroll-delay-time="600">
				<img src="app/assets/img/bar.png"></src>
			</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
		<img src="app/assets/img/cloud.png"></src>
		</div>
	</div>
</div>
</div>

<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Houston, TX 77008</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Texting Journal</h3>
                        <p>Texting Journal is a growing company that has been in business since 2016. We appreciate feedback for questions for concerns email <a href="http://startbootstrap.com">feedback@textingjournal.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; JournalMachine 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
