    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
	<div class="container container-small">
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <div class="col-sm-offset-2 col-sm-8">
			  <button type="submit" ng-click="signOut()" class="btn btn-landing">Sign Out</button>
			</div>
            </div>
	</div>
        <div class="container container-full-width">
            
            <!-- /.navbar-collapse -->
			<div class="sub-navbar">
			
		</div>
        </div>
		
        <!-- /.container -->
    </nav>

<div class="content-main container ">
    <div class="row top30">
		<img src="{{backgroundURL}}" class="img-responsive" alt="Responsive image">
		<div class="profile-pic">
		<img src="{{profURL}}" class="img-responsive img-thumbnail" alt="Responsive image">
		</div>
	  <div class="panel panel-default">
		  <div class="panel-body">
		  </div>
	   </div>
	</div>
	<div>
	{{fullName}}
	</div>
</div >
<div class="container content-main">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default ">
		  <div class="panel-body">
			<h3>About Me</h3>
			<p></p>
		  </div>
		  </div>
		</div>
		
	</div>
	<div class="row">
	<div class="col-md-8 ">
		<div class="panel panel-default ">
		  <div class="panel-heading panel-heading-custom">What made you excited today?</div>
		  <div class="panel-body">
			<p>Eating lunch at Sweet & Savory it was the best. But today Haliburton laid off 5,000 employees. that made me a little scared for my job. Its kind of crazy to think that we are in such a scary time.</p>
		  </div>
		  </div>
	   </div>
	</div>
</div>