    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <div class="col-sm-offset-2 col-sm-8">
			  <button type="submit" ng-click="signOut()" class="btn btn-landing">Sign Out</button>
			</div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container">
    <div class="journal-page">
	<div>
</div>