<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
	<div class="container container-small">
	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll website-title-texting" href="#page-top">
                    <img src="app/assets/img/logomd.png"></img> 
                </a>
            </div>
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <div class="col-sm-8">
					<div class="signin-padding">
						<button type="submit" ng-click="signOut()" class="btn btn-signin">Sign Out</button>
					</div>
				</div>
            </div>
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	<div class="col-sm-8">
					<div class="signin-padding">
						<button type="submit" ng-click="profile()" class="btn btn-signin"><i class="fa fa-user"></i></button>
					</div>
				</div>
	</div>
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	<div class="col-sm-8">
					<div class="signin-padding">
						<button type="submit" ng-click="journal()" class="btn btn-signin"><i class="fa fa-book"></i></button>
					</div>
				</div>
	</div>
	</div>
        
		
        <!-- /.container -->
    </nav>
	
<div class="content-main container ">
    <div class="row top100">
	<form name="outerForm" class="tab-form">
    <uib-tabset active="activeForm">
      <uib-tab index="0" heading="Profile">
        <ng-form name="nestedForm">
		<div class="row top10">
				  <div class="form-group">
					  <div class="col-sm-6">
						<h2>Personalize Your Journal</h2>
					  </div>
				  </div>
		  </div>
          <div class="row">
		  <div class="form-group">
			<div class="col-sm-6">
            <label>Name</label>
			
            <input type="text" class="form-control" required ng-model="users.fullname"/>
			</div>
          </div>
		  </div>
		  <div class="row">
		  <div class="form-group">
		  <div class="col-sm-6">
            <label>Phone</label>
            <input type="text" class="form-control" phone-input required ng-model="users.phonenumber"/>
          </div>
		  </div>
		  </div>
		  <div class="row">
		  <div class="form-group">
		  <div class="col-sm-6">
            <label>Email</label>
            <input type="text" class="form-control" required ng-model="users.emailaddress"/>
          </div>
		  </div>
		  </div>
		  <i ng-show="myForm.userName.$error.required">*required</i>
		  <div class="row top10">
			  <div class="form-group">
				  <div class="col-sm-6">
						<label>Choose Profile Picture</label>
					  <!--<span class="btn btn-default btn-file">
						Browse <input type="file" accept="image/*" />
						</span>-->
						
						<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
						<i ng-show="myForm.file.$error.required">*required</i><br>
						<i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
						<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
						<!--<button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Upload</button>-->
						<button  ng-click="uploadPic(picFile)">Upload</button>
						<span class="progress" ng-show="picFile.progress >= 0">
							<div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
						</span>
						<span ng-show="picFile.result">Upload Successful</span>
						<span class="err" ng-show="errorMsg">{{errorMsg}}</span>

					</div>
				</div>
			</div>
			<div class="row top10">
			  <div class="form-group">
				  <div class="col-sm-6">
						<label>Choose Gallery Image</label>
					  <span class="btn btn-default btn-file">
						Browse <input type="file"  file-model="myFile" accept="image/*" />						
						</span>
						<!--<button ng-click="uploadFile()">upload me</button>-->
						
					</div>
				</div>
			</div>
			<div class="row">
				  <div class="form-group">
					  <div class="col-sm-6">
						<label>About Summary</label>
						<textarea class="form-control" rows="3" ng-model="users.about"></textarea>
					  </div>
				  </div>
		  </div>
			<div class="row top10">
			  <div class="form-group">
				  <div class="col-sm-6">
						<input class="btn btn-default" ng-click="update()" type="submit" value="Update"></input>
						</span>
					</div>
				</div>
			</div>
			
        </ng-form>
      </uib-tab>
      <uib-tab index="1" heading="Prime Membership">
        Some Tab Content
      </uib-tab>

    </uib-tabset>
  </form>
  
  </div>
  </div>